%button {
    font-size: 1.8rem;
    font-weight: 600;
    line-height: 1.67;
}

.b-1 {
    @extend %button;
}

.btn {
    @extend %button;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 15px 35px;
    border: 1px solid var(--color-1);
    color: var(--color-1);
    height: 60px;
}

.btn-lagre {
    @extend .btn;
    padding: 15px 142px;
    width: 370px;
}

.btn-small {
    @extend .btn;
    width: 158px;
}

.btn-deep {
    color: #fff;
    background: var(--color-1);
}

.btn:hover {
    @extend .btn-deep;
}

.btn-deep-2 {
    color: #fff;
    background: #00383c;
}
