html {
    --text-color: #131717;
    --color-1: #005d63;
    --color-2: #1e787d;
    --color-3: #ffd44d;
    --color-4: #edd08f;
    --color-5: #f1deb4;
    --color-6: #f86624;
    --color-7: #404b4b;
    --color-8: #c4d1d0;
    --color-9: #566363;
    --color-10: #889595;
    --color-11: #a6b6b6;
    --color-icon-white: brightness(0) saturate(100%) invert(100%) sepia(8%) saturate(0%)
        hue-rotate(113deg) brightness(107%) contrast(107%);
}
