<div class="nav__inner">
    <div class="nav__row">
        <a href="#!">
            <div class="logo">
                <h2 class="logo__name">Pursuit</h2>
            </div>
        </a>
        <form action="" class="nav__form">
            <input
                type="text"
                name=""
                id=""
                class="nav__input p-3"
                placeholder="Search for anything"
            />
            <button class="nav__btn-search">
                <img src="./assets/icon/search.svg" class="nav__icon-search" />
            </button>
        </form>
        <div class="nav__info">
            <figure class="nav__icon">
                <img src="./assets/icon/avatar-null.svg" alt="" class="nav__avatar" />
            </figure>
            <div class="nav__icon">
                <img src="./assets/icon/heart.svg" alt="" class="nav__heart icon" />
                <p class="nav__num p-2">(0)</p>
            </div>
            <div class="nav__icon">
                <img src="./assets/icon/buy.svg" alt="" class="nav__buy icon" />
                <p class="nav__num p-2">(0)</p>
            </div>
        </div>
    </div>
    <div class="row nav__row">
        <ul class="nav__list">
            <li class="nav__item">
                <a href="#!" class="nav__link p-2">Home</a>
                <!-- dropdown -->
                <div class="nav__dropdown">
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Men Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Women Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Kids Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Baby Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Mobile Device</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Computer Device
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Beauty Products
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Furniture</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Smart Watch</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Modern Shoes</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Jewelry</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Home Products</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link p-2">Category</a>
                <!-- dropdown -->
                <div class="nav__dropdown">
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Men Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Women Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Kids Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Baby Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Mobile Device</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Computer Device
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Beauty Products
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Furniture</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Smart Watch</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Modern Shoes</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Jewelry</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Home Products</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link p-2">Brand</a>
                <!-- dropdown -->
                <div class="nav__dropdown">
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Men Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Women Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Kids Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Baby Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Mobile Device</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Computer Device
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Beauty Products
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Furniture</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Smart Watch</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Modern Shoes</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Jewelry</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Home Products</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link p-2">Products</a>
                <!-- dropdown -->
                <div class="nav__dropdown">
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Men Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Women Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Kids Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Baby Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Mobile Device</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Computer Device
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Beauty Products
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Furniture</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Smart Watch</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Modern Shoes</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Jewelry</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Home Products</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link p-2">About</a>
                <!-- dropdown -->
                <div class="nav__dropdown">
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Men Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Women Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Kids Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Baby Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Mobile Device</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Computer Device
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Beauty Products
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Furniture</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Smart Watch</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Modern Shoes</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Jewelry</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Home Products</a>
                        </li>
                    </ul>
                </div>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link p-2 nav__link-no-dropdown">Shop</a>
            </li>
            <li class="nav__item">
                <a href="#!" class="nav__link p-2">Pages</a>
                <!-- dropdown -->
                <div class="nav__dropdown">
                    <ul class="nav__dropdown--list">
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Men Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Women Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Kids Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Baby Fashion</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Mobile Device</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Computer Device
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">
                                Beauty Products
                            </a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Furniture</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Smart Watch</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Modern Shoes</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Jewelry</a>
                        </li>
                        <li class="nav__dropdown--item">
                            <a href="#!" class="nav__dropdown--link p-2">Home Products</a>
                        </li>
                    </ul>
                </div>
            </li>
        </ul>
    </div>
</div>
